.serverless
functions/.serverless
functions/product/.serverless
functions/scheduler/.serverless
resources/db/.serverless
resources/matchingproducts/.serverless
resources/sendalerttocustomer/.serverless
